body {
  border-width: 0px;
  background-color: #F6F2CB;
}

.navbar {
  margin-top: -20px;
  background-color: #2374A7;
}

nav .container {
  margin-left: 20px;
  margin-top: 10px;
  height: 50px;

}

nav .container h3 {
  color: white;
}

.panel {
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-width: 0px;
}

.panel-default > .panel-heading {
  background-color: #FFB380;
  border-color: #FFB380;
}

.panel-title {
  color: white;
}

.panel-body {
  padding: 0px;
  margin-top: -5px;
}

.panel-body ul {
  margin: 0px;
  border-width: 0px;
}

h4 {
  color: #333333;
}

.list-group-item {
  color: #333333;
  border: 1px solid #FFB380;
}
